@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h1>Welocome to Jenkins</h1>
<h1>Welocome to Jenkins with Docker</h1>
<h1>Welocome to Jenkins with github</h1>
<h1>Welocome to Jenkins with github - 22-07-2024</h1>
<h1>Welocome to Jenkins with github - 23-07-2024</h1>
<h1>Welocome to Jenkins with github/Second - 23-07-2024</h1>
<h1>Welocome to Jenkins with github/Third - 23-07-2024</h1>